* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    /* background-color: rgb(42, 128, 2); */
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.container {
    /* margin: 15%;
    padding: 16px; */
    max-width: 34rem;
    color: brown;
    background-color: rgba(243, 196, 94, 0.5);
    text-align: center;
    margin: 5% auto;
    padding: 3% 0;
    border: .7rem solid rgb(0, 92, 0);
    border-radius: 3rem;
    box-shadow: 3px 4.3px 4px black;

}
.decor-title {
    border: 2px solid rgb(0, 92, 0);
    margin: 2%;
    border-radius: 5rem;
}
.title {
    text-shadow: 2px 3px 6px black;
}
.subtitle {
    text-decoration: underline;
    font-weight: 800;
    text-shadow: 2px 3px 6px black;
}
.china-bamboo {
    margin-top: 5%;
    box-shadow: 2px 3px 6px black;
    border-radius: 3rem;
    max-width: 100%;
}
.later {
    margin-top: 2%;
    font-size: 3rem;
    color: rgb(90, 130, 216);
    text-shadow: 2px 3px 6px black;
}